{
  "extends": [
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "prettier"],
  "overrides": [
    {
      "files": ["*.{spec,test}.tsx", "*.{spec,test}.ts"],
      "rules": {
        "no-undef": "off",
        "react/react-in-jsx-scope": "off"
      }
    }
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-sort-props": "warn"
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
